name: test

on:
  - push
  - pull_request

jobs:
  perl:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version:
          - "5.10"
          - "5.30"
          - "5.32"
          - "5.34"
          - "5.36"
          - "5.38"
    container:
      image: perl:${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          curl -sL https://cpanmin.us/ | perl - -n --with-develop --with-recommends --with-suggests --installdeps .
      - name: Run perl Makefile.PL
        run: perl Makefile.PL
      - name: Run make
        run: make
      - name: Run make test
        run: make test
